{% extends  'crud/base.html' %}

{% block title %}
Insert
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center" >
            <fieldset>
                <legend class="text-center mb-5">
                    Insert Form
                </legend>
                <form action="{% url 'insert' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <label for="">Upload file</label>
                    <input type="file" name="post_image" class="form-control mb-3">

                    <label for="">Title</label>
                    <input type="text" name="title" class="form-control mb-3">

                    <label for="">Content</label>
                    <textarea name="content" class="form-control mb-3"></textarea>

                    
                    <input type="submit" class="btn btn-dark" value="Insert">
                </form>
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}